# IDE files
ansible.code-workspace
*.vscode

# System files
.DS_Store
Thumbs.db

# Environment files
*.pem
*.key
*.env

# Logs
*.log

#TO DO
*.todo

# Исключаем сгенерированные конфигурации
configs/*

# Игнорируем всё в папках data_*
data_*/**

# Но оставляем .gitkeep в этих папках
!data_*/.gitkeep

# Исключаем файлы с секретами
*.vault
vault_password_file
*secrets.yml

# исключаем host_vars кроме example
/host_vars/*
!/host_vars/example.yml